<%= @p1.name %> vs <%= @p2.name %><br>
<%= @p1.name %> has <%= @p1.hp %>HP <br>
<%= @p2.name %> has <%= @p2.hp %>HP

<form action="/player_1_attack" method="get">
<input type="submit" value="Attack Player 2">
</form>
